.form{
    width: 300px;
    margin: auto;
    width: 50%;
    padding: 70px 0
}
.new-note{
    position:relative;
    width: 700px;
    right:50px;
}

.dashboard{
    position:relative;
    width: 800px;
    left: 100px;
    top:50px;
}

.edit-note{
    position:relative;
    width: 700px;
    bottom: 75px;
    right: 200px;
}

.item{
    cursor: pointer;
}






